* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result {
    border: solid 2px black;
    border-radius: 8px;
    width: 450px;
    height: 125px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    padding: 15px 25px;
}

.ops {
    gap: 10px;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.char {
    border: solid 2px black;
    border-radius: 8px;
    padding:20px;
    font-size: 30px;
    flex:1;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Colors */
body {
    background-color: #232136;
}
.result {
    background-color: #2a273f;
    border: solid 2px #6e6a86;
    color: #e0def4;
}
.char {
    background-color: #2a273f;
    border: solid 2px #6e6a86;
    color: #e0def4;
}
.del, .clr {
    background-color: #eb6f92;
    color: #232136;
}
.oper {
    background-color: #9ccfd8;
    color: #232136;
}
.ans {
    background-color: #c4a7e7;
    color: #232136;
}